$font-stack: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
$primary-color: #19324b;
$secondary-color: #ffa500;
$tertiary-color: #6b8e23;
$bg-color: white;

body {
  text-align: center;
  color: $primary-color;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  background-color: $bg-color;
}
.home {
  .submitButton {
    background-color: $primary-color;
    color: $bg-color;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    margin: 10px;
  }

  .select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 40%;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 2px $primary-color;
    font-family: $font-stack;
  }

  .loading {
    font-size: 40px;
    font-weight: bold;
    color: $primary-color;
  }

  .createButton {
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
  }
}
.error {
  font-size: 40px;
  font-weight: normal;
  color: red;
}

.deleteAdmin {
  margin-top: 20px;
  span {
    font-size: 20px;
    cursor: pointer;
    .icon {
      font-size: 25px;
      margin-left: 10px;
      vertical-align: text-bottom;
      color: red;
    }
  }
}

.addRestaurant,
.addAdmin,
.editAdmin,
.addStaff,
.addMenu,
.addFeedback {
  h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: $font-stack;
    text-decoration: underline;
  }
  input,
  textarea {
    padding: 8px;
    width: 30%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  select {
    padding: 8px;
    width: 31%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: $bg-color;
  }
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  button {
    background-color: $primary-color;
    color: $bg-color;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    margin: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error {
    font-size: 20px;
  }
  span {
    color: red;
  }

  .feedback-textarea {
    min-height: 200px;
  }
}
.dashboard {
  .banner {
    background-color: $primary-color;
    overflow: auto;
    color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    h1 {
      font-size: 44px;
      padding-left: 100px;
    }
  }
  // .user-name {
  //   font-size: 25px;
  //   color: $secondary-color;
  //   padding-bottom: 0;
  //   display: flex;
  //   align-items: center;
  //   margin-top: 70px;
  //   // border-bottom: 1px solid $bg-color;
  // }

  .user-info {
    align-items: center;
    font-size: 20px;
    // font-weight: bold;
  }

  .user-info .edit-profile,
  .user-info .user-type,
  .user-info .logout {
    cursor: pointer;
  }
  .user-type {
    color: $secondary-color;
    display: block;
    font-size: 25px;
  }
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

  .invalid-user {
    color: $secondary-color;
    font-size: 40px;
  }
  .card {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .card-icon {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.login-container {
  background-color: $bg-color; /* Background color for the login box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 80px auto 0;
  color: $primary-color; /* Heading color, using your primary color */
  font-weight: bold;

  h2 {
    font-size: 30px;
  }

  .form-group {
    margin: 20px 0;
    text-align: left;
  }

  .form-group label {
    display: block;
    font-size: 18px;
    color: $primary-color; /* Label color, using your primary color */
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .password-options {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .forgot-password {
    color: $primary-color; /* Link color, using your primary color */
    cursor: pointer;
  }

  .create-customer {
    color: $primary-color; /* Adjust the color as needed */
    cursor: pointer;
  }

  // .create-customer{
  //   text-align: right;
  // }

  .submit-button {
    background-color: $primary-color; /* Button background color, using your primary color */
    color: $bg-color; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: $secondary-color; /* Change to your desired hover color */
  }
  .user-type-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    label {
      display: flex;
      align-items: center;
      font-size: 18px;

      input[type="radio"] {
        margin-right: 5px;
      }
    }
  }
  .error {
    color: red;
    font-size: 18px;
  }
}

.staffs-container {
  padding: 20px;
  position: relative; /* Allows positioning of children */

  .add-staff-button {
    background-color: #19324b; /* Use your primary color for the button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    // position: absolute;
    // margin-left: 520px;
  }

  .add-staff-button:hover {
    background-color: #6b8e23; /* Change to your desired hover color */
  }

  .staff-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .staff-table th,
  .staff-table td {
    border: 1px solid #19324b; /* Use your primary color for borders */
    padding: 10px;
    text-align: center;
  }
}

.feedback-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

  .feedback {
    display: block; /* Add this line */
    justify-content: center;
    align-items: center;
    border: solid #19324b;
    // background-color: $tertiary-color;
    color: $primary-color;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    max-height: 150px;

    span {
      font-size: 16px;
      color: $secondary-color;
      cursor: pointer;
    }
  }

  .feedback-text {
    font-size: 20px;
  }
  .feedback-edit {
    text-align: right;
    font-size: 20px;
  }
}
.add-feedback-container {
  display: flex;
  justify-content: flex-end;
}

.add-feedback {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
  align-content: end;
  background-color: $secondary-color;
  color: $primary-color;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  // font-weight: bold;
}
