$font-stack: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
$primary-color: #19324b;
$secondary-color: #ffa500;
$tertiary-color: #6b8e23;
$bg-color: white;

body {
  text-align: center;
  color: $primary-color;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  background-color: $bg-color;
}
.home {
  .submitButton {
    background-color: $primary-color;
    color: $bg-color;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    margin: 10px;
  }

  .select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 40%;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 2px $primary-color;
    font-family: $font-stack;
  }

  .loading {
    font-size: 40px;
    font-weight: bold;
    color: $primary-color;
  }

  .createButton {
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
  }
}
.error {
  font-size: 40px;
  font-weight: normal;
  color: red;
}

.addRestaurant,
.addAdmin {
  h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: $font-stack;
    text-decoration: underline;
  }
  input {
    padding: 8px;
    width: 30%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  button {
    background-color: $primary-color;
    color: $bg-color;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    margin: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error {
    font-size: 20px;
  }
  span {
    color: red;
  }
}
.dashboard {
  .banner {
    background-color: $primary-color;
    overflow: auto;
    color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    h1 {
      font-size: 44px;
      padding-left: 100px;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    font-size: 20px;
    // font-weight: bold;
  }

  .user-info .edit-profile,
  .user-info .user-type,
  .user-info .logout {
    margin-right: 20px;
    margin-top: 70px;
    cursor: pointer;
  }
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

  .invalid-user {
    color: $secondary-color;
    font-size: 40px;
  }
  .card {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .card-icon {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
}
